<%- include("partials/header.ejs") %>
    <div class="full-post-container container">
        <div class="full-post-content">
            <%= post.content %>
        </div>
        <a href="/" class="btn btn-secondary mt-3">← Go Back</a>
    </div>
<%- include("partials/footer.ejs") %>