html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #80A1BA;
    font-family: "Open Sans", sans-serif;
}

main {
    flex-grow: 1;
}

h1 {
    font-weight: bold;
}

.formContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* height: 50vh; */
    align-items: center;
    gap: 20px;
    /* margin-top: 5rem; */
    margin: 5rem auto;
}

.blog-list {
    list-style: none;
    margin-left: 0rem;
    margin-top: 5rem;
    margin: 5rem auto;
}

.blog-list > li {
    margin-bottom: 3rem;
    white-space: pre-wrap;
    padding: 2rem;
    border-radius: 5px;
    font-size: 1.1rem;
    text-align: justify;
}

.link-container {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 2rem;
    font-size: medium;
}

.link-container > a:first-child { 
    margin-right: auto;
}

.full-post-container {
    margin: 5rem auto;
}

.full-post-content {
    white-space: pre-wrap;
    padding: 2rem;
    border-radius: 5px;
    font-size: 1.1rem;
    background-color: #FFF7DD;
    text-align: justify;
}

footer {
    padding: 2rem;
}